/* Document-wise defaults */

* {
  font-family: 'Fira Code';
  font-size: 16px;
}


/* Upper half section: clock and date */

#currentTime {
  height: 48vh;
  background: #DDDDFF;
}

#time {
  text-align: center;
  font-size: 25vh;
  color: black;
  margin-top: 2vh;
}

#date {
  text-align: center;
  font-size: 10vh;
  color: gray;
  margin-bottom: 2vh;
}


/* Lower left section: countdown information */

#examLength {
  display: flex;
  float: left;
  width: 48vw;
  height: 48vh;
  background: #FFDDDD;
}

#startStopInfo {
  width: 45vw;
}

#countdownArea {
  width: 45vw;
}

input {
  background: transparent;
  margin-left: 5px;
}

#cdStartButton {
  background-color: #4CAF50; /* Green */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  /* border-radius: 12px; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-family: 'Anonymous Pro'; */
  width: 36%;
}

#cdPauseButton {
  background-color: #ffbf00; /* Yellow-ish, Orange-ish */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  /* border-radius: 12px; */
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-family: 'Anonymous Pro'; */
  width: 18%;
}

#cdStopButton {
  background-color: #d10000; /* Dark-ish Red */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  /* border-radius: 12px; */
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* font-family: 'Anonymous Pro'; */
  width: 18%;
}

#countdownButtons {
  text-align: center;
  margin: 10%;
}


/* Lower right section: optional notes */

#notesArea {
  display: flex;
  float: right;
  width: 48vw;
  height: 48vh;
  background: #DDFFDD;
}

textarea {
  background: transparent;
  width: 90%;
  height: 45vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

::placeholder {
  color: rgb(200, 200, 200);
}
