#time {
  text-align: center;
  font-size: 15vw;
  font-family: 'Anonymous Pro', sans-serif;
  color: black;
}

#date {
  text-align: center;
  font-size: 5vw;
  font-family: 'Anonymous Pro', sans-serif;
  color: gray;
}
